@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit @Model.RoleName Role</h1>
<a asp-action="AddOrRemoveUsers" asp-controller="Role" class="btn btn-success" asp-route-roleid="@Model.Id">Add User To @Model.RoleName Role</a>
<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="RoleName" class="form-label">Role Name</label>
        <input class="form-control" asp-for="RoleName">
    </div>
    <input type="submit" asp-action="Index" value="SAVE" class="btn btn-light" /> |
    <a asp-action="Index" class="btn btn-light">Cancle</a>
</form>