@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div style="color: #fff"><h1>Check Your Inbox</h1></div>

<div class="card-body">
    <p>
        Password Reset Link Has been Sent To Your Email , Please Check Your Inbox
        <br/>
        <a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a>
    </p>
</div>

