@model ForGetPasswordViewModel
@{
    ViewData["Title"] = "ForGetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="SendEmail" asp-controller="Account">
	<div class="form-group">
		<input class="form-control" asp-for="@Model.Email" placeholder="Email">
		<span asp-validation-for="@Model.Email"></span>
	</div>
	<div class="form-group">
		<button type="submit" class="form-control btn btn-primary submit px-3">Reset Password</button>
	</div>
</form>
@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}