@using CompanyMVC.Views.Account
@model ResetViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>
<form asp-action="ResetPassword" asp-controller="Account">
	<div asp-validation-summary="All"></div>
	<div class="form-group">
		<input class="form-control" asp-for="@Model.Password" placeholder="New Password">
		<span asp-validation-for="@Model.Password"></span>
	</div>
	<div class="form-group">
		<input class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Confirm New Password">
		<span asp-validation-for="@Model.ConfirmPassword"></span>
	</div>
	<div class="form-group">
		<button type="submit" class="form-control btn btn-primary submit px-3">Reset</button>
	</div>
</form>
@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}

